<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel="stylesheet" href="/stylesheets/themes/default.css" type="text/css" media="screen" /> 
    <link rel="stylesheet" href="/stylesheets/nivo-slider.css" type="text/css" media="screen" />
    <!-- <link href="stylesheets/kissy/base.css" rel="stylesheet"/> -->
    <link rel="stylesheet" href="/stylesheets/kissy/demo.css" type="text/css" media="all"/>
    <link href="/stylesheets/kissy/custombutton.css" rel="stylesheet"/>
  </head>
  <body>
                
    <div class='contentWrap'>
          <div class="row-fluid">
            <div class="span12 gh">
                <div class="container "><a class='logo' href='/'></a>
                    <ul class="nav nav-tabs contentTabs" id="myTab">
                          <li class="active"><a href="#home">浏览</a></li>
                          <li><a href="#profile">精选</a></li>
                          <li><a href="#messages">发现</a></li>
                     <!--  <li><a href="#settings"></a></li> -->
                    </ul>
                </div>
            </div>
          </div>
          <div class="container">