<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/base.css' />
  </head>
  <body>
  	<div class='contentWrap'>
		  <div class="row-fluid">
		  	<div class="span12 gh">
		  		<div class="container "><a class='logo'></a></div>
		  	</div>
		  </div>
		  <div class="container ">
		   	<div class="row">
				  <div class="span8">
				  	<div class="row">
				  		<div class="span1 headP"><a class="avatar">头像</a></div>
				  		<div class="span7 article">
				  			<div class="row">
				  				<div class="span7 artTitle">我是博客的题目</div>
				  				<div class="span7 artC"><img width='500' height='750' src='img/testC.jpg'></div>
				  				<div class="span7 artC"><img width='500' height='333' src='img/testC1.jpg'></div>
				  				<div class="span7 artC"><img width='250' height='167' src='img/testC2.jpg'><img width='250' height='167' src='img/testC2.jpg'></div>
				  				<div class="span7 artC"><img width='500' height='750' src='img/testC3.jpg'></div>
				  				<div class="span7 artC"><img width='500' height='750' src='img/testC4.jpg'></div>
				  				<div class="span7 artC">
				  					<div class="row">
				  						<div class="span3"><button class="btn btn-info btn-small tagBt" type="button">#时尚</button><button class="btn btn-info btn-small tagBt" type="button">#模特</button><button class="btn btn-link btn-small tagBt" type="button">#模特</button></div>
				  						<div class="span2 tagR">
				  							<a class="btn btn-link btn-small tagLing">热度</a>
				  							<a class="btn btn-link btn-small tagLing">回应</a>
				  							<a class="btn btn-link btn-small tagLing">转载</a>
				  							<a class="btn btn-link btn-small tagLing"><i class="icon-heart"></i></a>
				  							
				  						</div>
				  					</div>
				  				</div>
				  			</div>
				  		</div>
				  	</div>
				  </div>
				  <div class="span4">
				  	<div class="row">
				  		<div class="span4 reBts reBts1">
				  			<button class="loginBt btn btn-large pLeft" type="button">登录</button>
				  			<button class="regBt btn btn-info  btn-large pRight" type="button">注册</button>
				  		</div>
				  		<div class="span4 reBts">
				  				<div class="span4 intro introT"><a class="btn  disabled btn-block">Yblog简介</a></div>
				  				<div class="span3 intro">
				  					<p>Yblog是基于node.js的轻博客系统</p>
				  					<p>测试性产品，目前处于开发阶段</p>
				  					<p>涉及的主要技术如下所示</p>
				  					<a class="btn btn-link btn-small tagLing fr">by 杨文梁</a>
				  				</div>
				  		</div>
				  		<div class="span4 reBts">
				  			<div class="span4 intro">
				  				    <ul class="nav nav-tabs nav-stacked tagList">  
									    <li><a href="#">javascript</a></li>
									    <li><a href="#">Node.js</a></li>
									    <li><a href="#">express</a></li>
									    <li><a href="#">jQuery</a></li>
									    <li><a href="#">MongoDB</a></li>
									    <li><a href="#">Bootstrap</a></li>
								    </ul>
				  			</div>
				  		</div>
				  	</div>
				  </div>
			</div>
		  </div>
	</div>
  </body>
</html>