<%- include header %>
<div class='tagsWrap'>
<% posts.forEach(function(tag, index){ %>
  <% if(tag){ %>
    <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
  <% } %>
<% }) %>
</div>
<%- include footer %>